<div class="standard-tabs margin-bottom" id="add-tabs">
    <ul class="tabs">
        <li class="active"><a href="#tab-1">Danh mục</a></li>
        <li><a href="#tab-2">Chức năng</a></li>
        <li>Non-active</li>
    </ul>
    <div class="tabs-content">
        <div id="tab-1" class="with-padding">
            <div style="margin-bottom:10px">
                <span class="button-group">
                    <a href="javascript:void(0)" class="button icon-users" onclick="Utils.addTabDynamic('Nhóm khách hàng', '@Url.Content("~/GroupCustomer/RenderView")', '#tabcontentDM')">Nhóm khách hàng</a>
                    <a href="javascript:void(0)" class="button icon-home" onclick="Utils.addTabDynamic('Kho hàng', '@Url.Content("~/KHO/RenderView")', '#tabcontentDM')">Kho hàng</a>
                    <a href="javascript:void(0)" class="button icon-lightning" onclick="Utils.addTabDynamic('Đơn vị tính', '@Url.Content("~/Dvt/RenderView")', '#tabcontentDM')">Đơn vị tính</a>
                    <a href="javascript:void(0)" class="button icon-bag" onclick="Utils.addTabDynamic('Nhóm hàng hóa', '@Url.Content("~/GroupProduct/RenderView")', '#tabcontentDM')">Nhóm hàng hóa</a>
                    <a href="javascript:void(0)" class="button icon-plane" onclick="Utils.addTabDynamic('Nhà phân phối', '@Url.Content("~/NPP/RenderView")', '#tabcontentDM')">Nhà phân phối</a>
                    <a href="javascript:void(0)" class="button icon-price-tag" onclick="Utils.addTabDynamic('Sản phẩm', '@Url.Content("~/Product/RenderView")', '#tabcontentDM')">Sản phẩm</a>
                    <a href="javascript:void(0)" class="button icon-price-tag" onclick="Utils.addTabDynamic('Đơn giá hàng hóa', '@Url.Content("~/GroupCustomer_Product/RenderView")', '#tabcontentDM')">Đơn giá hàng hóa</a>
                </span>
            </div>
            <div id="tabcontentDM" class="easyui-tabs" style="position:relative; width:100%;">
                <div title="Home">
                </div>
            </div>
        </div>
        <div id="tab-2" class="with-padding">
            <div style="margin-bottom:10px">
                <span class="button-group">
                    <a href="javascript:void(0)" class="button icon-users" onclick="Utils.addTabDynamic('Nhập Kho', '@Url.Content("~/KHO_Order/RenderView")','#tabcontentCN')">Đặt hàng</a>
                </span>
            </div>
            <div id="tabcontentCN" class="easyui-tabs" style="position:relative; width:100%">
                <div title="Home">
                </div>
            </div>
        </div>
    </div>
</div>
